@import 'abstracts/variables';
@import 'abstracts/mixins';

.container-404dark {
    background: linear-gradient(180deg, #0D162C 64.18%, #153276 118.5%), #0D162C;
    @include layout404;
    div {
        background-image: url(/assets/Framedark.svg);
    }
}
.light {
   @include button404;
}

@media (max-width: 800px) {
    .container-404dark {
       @include layout404md;
    }
    .light {
        font-size: 14px; 
    }
}
@media (max-width: 600px) {
    .container-404dark {
        @include layout404sm;
    }
    .light {
        font-size: 12px; 
    }
}