@import 'abstracts/variables';
@import 'abstracts/mixins';

.container-404light {
    @include layout404;
    div {
        background-image: url(/assets/Frame.svg);
    }
}
.dark {
    @include button404;
    color: $white;
    background: linear-gradient(180deg, #0D162C 64.18%, #153276 118.5%), #0D162C;
}
@media (max-width: 800px) {
    .container-404light {
        @include layout404md;
    }
    .dark {
        font-size: 14px; 
    }
}
@media (max-width: 600px) {
    .container-404light {
        @include layout404sm;
    }
    .dark {
        font-size: 12px; 
    }
}