$black: #313131;
$white: #ffffff;
$blue: #27AAF0;
// $grey: #696969;
$grey: transparentize($black, .73);
$bgcolor: #fafafa;
$red: #A50104;
$yellow: #FCBA04;

$font: 'Quicksand';
$color-text: #313131;
$light: light;
$regular: regular;
$medium: medium;
$bold: bold;


