$black: #313131;
$white: #ffffff;
$blue: #27AAF0;
$grey: transparentize($black, .73);
$lightgrey: #e5e5e5;

$bgcolor: #fafafa;
$red: #A50104;
$yellow: #FCBA04;

$font: 'Quicksand';
$color-text: #313131;
$light: 200;
$regular: regular;
$medium: medium;
$bold: bold;

$h340: 40px;
$fontText10: 10px;
$fontText12: 12px;
$fontText14: 14px;
$fontText16: 16px;
$fontText18: 18px;
$fontText20: 20px;
$fontText21: 21px;




