<div class="arrowBack" routerLink="../feed"><fa-icon [icon]="faChevronLeft"></fa-icon> Back to feed</div>
<div class="container-article">
    <div id="article">
        <h3>{{title}}</h3>
        <div class="info">
            <div class="author">
                <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+photoAuthor+')'}"></div></div>
                <div>{{author}}</div>
            </div>
            <div class="likes">
                <div>Novemder 29, 2019</div>
                <div class="middleLike">
                    <fa-icon [icon]="faHeart"></fa-icon>
                    <div>{{likes}}</div>
                </div>
                <div>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <div></div>
                </div>
            </div>
        </div>
        <img [src]="image" alt="">
        <div class="article-text"><p>{{text}}</p></div>
        <div id="infoBorber" class="info">
            <div class="author">
                <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+photoAuthor+')'}"></div></div>
                <div>{{author}}</div>
            </div>
            <div class="likes">
                <div>Novemder 29, 2019</div>
                <div class="middleLike">
                    <fa-icon [icon]="faHeart"></fa-icon>
                    <div>{{likes}}</div>
                </div>
                <div>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="tag">
            <h5>Tags</h5>
            <span>Blockchain</span>
            <span>2020</span>
        </div>
    </div>
    <div class="comments">
        <h5>Comments</h5>
        <form>
            <div><fa-icon [icon]="faUserCircle"></fa-icon></div>
            <input type="text" placeholder="Write a comment...">
        </form>
        <div></div>
    </div>
    <div class="realComments">
        <div>
            <fa-icon [icon]="faUserCircle"></fa-icon>
            <span>{{authorComment}}</span>
        </div>
        <p>{{textComment}}</p>
        <div class="footerComment">
            <button> Read more...</button>
            <div>Novemder 30, 2019</div>
        </div>
    </div>
    <a class="arrowTop" href="#article">Go to top <fa-icon [icon]="faChevronRight"></fa-icon> </a>
</div>
