@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';
// @import '../../styles/base/resest';
  

.container-article {
    &::before{
        content: "< Back to feed";
    }
    position: relative;
    @include placeholderInput ($grey);
    max-width: 680px;
    width: 90%;
    margin: 100px auto;
    .article {
        position: relative;
        &::after {
            content: "Go to top >";
            position: absolute;
            bottom: 50px;
            right: -70px;
            transform: rotate(-90deg);
        }
        > img {
            width: 100%;
            height: auto;
            padding: 20px 0;
        }
        h3 {
            font-weight: $bold;
            font-size: 3em;
            line-height: 50px;
            padding-bottom: 25px;
            text-transform: capitalize;
        }
    }
    .info {
        @include infoAuthorLike;
        >div {
            >div {
                padding: 2px 10px;
            }
        }
        .likes {
            .middleLike {
                border-left: solid 1px $grey;
                div {
                    padding-left: 8px;
                    font-size: .88em;
                }
            }
        }
    }
    #infoBorber{
        border-top: solid 1px $grey;
        border-bottom: solid 1px $grey;
        margin: 10px 0;
    } 
    
    .article-text {
        p {
            line-height: 150%;
            padding: 10px 0;
            font-size: 1.3em;
        }
    }
    .tag {
        margin: 10px 0 20px;
        @include tagSpan;
    }
    h5 {
        padding: 20px 0;
        font-weight: $bold;
    }
    .comments {
        form {
            @include shadowsCard($grey);
            width: 100%;
            display: flex;
            justify-content: flex-start;
            div {
                padding: 15px;
                width: 5%;
                @include iconUser;
            }
            input {
                outline: none;
                border: none;
                padding: 15px 0;
                width: 90% ;
            }
        }
    }
    .realComments {
        padding: 15px;
        margin: 10px 0;
        @include shadowsCard($grey);
        p {
            padding: 20px 0 30px;
            font-size: 1.12em;
        }
        > div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &:last-of-type {
                justify-content: space-between; 
            }
        }
        @include iconUser;
        span {
            text-transform: capitalize;
            color: $blue;
            padding-left: 20px;
            font-size: .9em;
        }
        button {
            + div {
                font-size: .9em;
            }
            font-size: .9em;
            color: $blue;
            outline: none;
        }
    }
}
@media(max-width: 800px) {
    div, span, p, button {
        font-size: 14px;
    } 
    .container-article .article::after {
        position: fixed;
        bottom: 50px;
        right: -5px;
    }
}
@media(max-width: 600px) {
    div, span, p, button {
        font-size: 10px;
    }  
    .container-article {
        margin: 20px auto;
    }
}

  