@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

  
.arrowBack {
    cursor: pointer;
    max-width: 992px;
    width: 90%;
    margin: auto;
    padding: 20px 0 10px;
    color: $black;
    fa-icon {
        padding-right: 5px;
    }
    @include hoverFontWeight;
}
.container-article {
    position: relative;
    @include placeholderInput ($grey);
    max-width: 992px;
    width: 90%;
    margin: auto;
    #article {
        position: relative;
        > img {
            width: 100%;
            height: auto;
            max-height: 550px;
            padding: 20px 0;
        }
        h3 {
            font-weight: $bold;
            font-size: $h340;
            padding-bottom: 15px;
            text-transform: capitalize;
            line-height: $h340;
        }
    }
    .info {
        @include infoAuthorLike;
        padding: 16px 0;
        >div {
            >div {
                padding: 2px 8px;
            }
        }
        .likes {
            
            fa-icon {
                @include hoverFont($blue); 
            }
        }
        .middleLike {
            border-left: solid 1px $lightgrey;
            
            div {
                padding-left: 8px;
                font-size: $fontText14;
            }
        }
    }
    #infoBorber{
        border-top: solid 1px $grey;
        border-bottom: solid 1px $grey;
        margin: 10px 0;
    } 
    .article-text {
        p {
            line-height: 150%;
            padding: 10px 0;
            font-size: $fontText21;
        }
    }
    .tag {
        margin: 10px 0 20px;
        @include tagSpan;
    }
    h5 {
        padding: 24px 0;
        font-weight: 500;
    }
    .comments {
        form {
            @include shadowsCard($grey);
            width: 100%;
            display: flex;
            justify-content: flex-start;
            div {
                background-color: $white;
                padding: 20px;
                @include iconUser;
            }
            input {
                background-color: $white;
                border: none;
                padding: 15px 0;
                width: 100% ;
            }
        }
    }
    .realComments {
        p, div , span {
            background-color: $white;
        }
        background-color: $white;
        overflow: hidden;
        position: relative;
        padding: 24px;
        margin: 24px 0;
        height: 248px;
        @include shadowsCard($grey);
        p {
            padding: 20px 0 30px;
            font-size: $fontText18;
        }
        > div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .footerComment {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            justify-content: space-between;
            padding: 24px; 
            &::before {
                content: "";
                position: absolute;
                filter: blur(10px);
                height: 40px;
                top: -20px;
                right: 0;
                left: 0;
            }
            button {
                + div {
                    font-size: $fontText14;
                }
                font-size: $fontText14;
                color: $blue;
                outline: none;
            }
        }
        @include iconUser;
        span {
            text-transform: uppercase;
            color: $blue;
            padding-left: 16px;
            font-size: $fontText14;
        }
    }
    .arrowTop {
        cursor: pointer;
        transform: rotate(-90deg);
        position: absolute;
        bottom: 100px;
        right: -80px;
        color: $black;
        @include hoverFontWeight;
    }
}
@media(max-width: 800px) {
    div, span, p, button {
        font-size: 14px;
    } 
    .container-article { 
        .article-text p {
            font-size: 18px;
            line-height: 120%;
            padding: 7px 0;
        }
        #article {
            > img {
                padding: 0;
            }
            h3 {
                font-size: 32px;
                padding-bottom: 0;
            } 
        }
        .info {
            .author >div:first-child  {
                height: 34px;
                width: 34px;
            }
            .middleLike div {
                font-size: $fontText12;
            }
        }
        .realComments {
            height: 200px;
            p {
                font-size: 16px;
            }
            fa-icon {
                font-size: 30px;
            }
        }
        .comments form div fa-icon {
            font-size: 30px;
        } 
        .arrowTop {
            position: fixed;
            bottom: 50px;
            right: -15px;
        }
        h5 {
            font-size: 16px;
            padding: 18px 0;
        }
    }
}
@media(max-width: 600px) {
    div, span, p, button {
        font-size: 11px;
    }  
    .container-article {
        .article-text p {
            font-size: 15px;
            padding: 5px 0;
        }
        #article h3 {
            font-size: 19px;
            line-height: 18px;
        } 
        .info {
            .author >div:first-child  {
                height: 28px;
                width: 28px;
             }
            .middleLike div {
                font-size: $fontText10;
            }
        }
        .realComments {
            height: 150px;
            padding: 18px;
            .footerComment {
                padding: 18px;
                &::before {
                    height: 30px;
                    top: -15px;
                }
            }
            fa-icon {
                font-size: 24px;
            }
            p {
                font-size: 13px;
                padding: 10px 0;
            }
        }    
        .comments {
            form div fa-icon {
                font-size: 24px;
            }
        }
        h5 {
            font-size: 14px;
            padding: 15px 0;
        }  
    }
}


  