
<div class="container-article">
    <div class="article">
        <h3>2020 – THE YEAR OF ETHICS</h3>
        <div class="info">
            <div class="author">
                <div> <img src="https://i.pinimg.com/originals/28/8a/0a/288a0a8bafb429a3a16a037869d85dc9.jpg"></div>
                <div>kevin black</div>
            </div>
            <div class="likes">
                <div>Novemder 29, 2019</div>
                <div class="middleLike">
                    <fa-icon [icon]="faHeart"></fa-icon>
                    <div>147</div>
                </div>
                <div>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <div></div>
                </div>
            </div>
        </div>
        <img src="https://cdn.pixabay.com/photo/2019/11/25/17/05/new-years-eve-4652544_960_720.jpg" alt="">
        <div class="article-text">
            <p>2020 is the year of ethics. </p>
            <p>Clear vision is needed where we’re going. </p>
            <p>We now live in an age where politics, banking, our legal systems, and even borders are instituted primarily by the technologies we create. Their deployment, integrations, and agreements will rule our lives. There is no way around it. Where we’re going, borders are geographic, but limitless in the digital. </p>
            <p>We’re literally programming the future right now. And policies, agreements, and transactions are governed by something we can see or touch, but know is there, driving our freedoms or limiting them. 
                While automation and increased mechanization impact jobs, the bigger impact will be on ownership, value distribution, surveillance, privacy, and data.
            </p>
            <p>Blockchain technology sits at the center of technologies that are currently being integrated. It’s ledger for agreement, exchange, and incentivization. 
                The code of ethics looks at 50 ethics in 10 areas to vote on and discuss where we’re going and what guardrails need to be created.
            </p>
            <p>With this effort, an agreed upon document will be produced and a collaborative code of ethics will emerge as a living, working document to keep the conversation of what we’re creating for humanity. </p>
            <p>It’s important to remember that ALL PEOPLE ARE STAKEHOLDERS OF TECHNOLOGY. ALL. </p>
            
        </div>
        <div id="infoBorber" class="info">
            <div class="author">
                <div>
                    <img src="https://i.pinimg.com/originals/28/8a/0a/288a0a8bafb429a3a16a037869d85dc9.jpg">
                </div>
                <div>kevin black</div>
            </div>
            <div class="likes">
                <div>Novemder 29, 2019</div>
                <div  class="middleLike">
                    <fa-icon [icon]="faHeart"></fa-icon>
                    <div>147</div>
                </div>
                <div>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="tag">
            <h5>Tags</h5>
            <span>Blockchain</span>
            <span>2020</span>
        </div>
    </div>
    <div class="comments">
        <h5>Comments</h5>
        <form>
            <div><fa-icon [icon]="faUserCircle"></fa-icon></div>
            <input type="text" placeholder="Write a comment...">
        </form>
        <div>

        </div>
        
    </div>
    <div class="realComments">
        <div>
            <fa-icon [icon]="faUserCircle"></fa-icon>
            <span>kevin hank</span>
        </div>
        <p> Generations Y and Z, soon to be the world’s most numerous consumers, are concerned about responsibly sourced and sustainable products. But when it comes to purchasing a gold chain or new hoop earrings, how often do they really know what they are buying?</p>
        <div>
            <button> Read more...</button>
            <div>Novemder 30, 2019</div>
        </div>
    </div>

</div>