<div class="container-feed">
    <div class="card-feed" routerLink="../article" routerLinkActive="active-link" *ngFor="let article of listArticles, let idx = index" >
        <div class="card-image">
            <p>READ MORE...</p>
            <img [src]="article.image" >
        </div>
        <div class="infoCard">
            <div>
                <span>Programming</span>
                <span>Software Developer</span>
            </div>
            <h3>{{article.title}}</h3>
            <div class="descripsionArticle">{{article.description}}</div>
            <div class="info">
                <div class="author">
                    <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+users[idx].photo+')'}"></div></div>
                <div>{{article.author}}</div>
                </div>
                <div class="likes">
                    <div class="middleLike">
                        <fa-icon [icon]="faHeart"></fa-icon>
                        <div>{{article.reactionsCounts.likes}}</div>
                    </div>
                    <div>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>     
   <button><fa-icon [icon]="faCloudDownloadAlt"></fa-icon>load more</button>
</div>


    
    
   