<div class="container-register">
    <div class="backgraund">
        <div class="btnTab">
            <div>LOGIN</div>
            <div class="active">REGISTER</div>
        </div>
        <div class="helloBlock">
            <div class="overhelloBlock">Welcome to</div>
            <h3>SKILL++</h3>
            <div class="underhelloBlock"> Curiosity is one of the permanent and certain characteristics of a vigorous mind.</div>
        </div>
    </div>
    <div class="register">
        <div class="registerForm">
            <h5>REGISTER</h5>
            <form action="">
                <div>
                    <input type="email" name="email"  placeholder="Email">
                </div>
                <p>Example: markus.w@gmail.com</p>
                <div>
                    <input type="password" maxlength="25" name="password" placeholder="Password">
                </div>
                <p>8 symbols or more</p>
                <div>
                <input type="password" name="confirmpassword"  placeholder="Confirm password">
                </div>
                <p>Repeat password</p>
                <button><fa-icon [icon]="faUserPlus"></fa-icon>REGISTER</button>
            </form>
        </div>
    </div>
    <div class="logo"></div>
</div>