<div class="container">
    <div class="container-profile">
        <div class="circle"></div>
        <div>
            
            <div>
                <div class="photo"></div>
                <div class="name">{{this.authorUser}}</div>
            </div>
            <div class="userInfo">
                <div>
                    <div class="infoRow">Joined</div>
                    <div>12 November 2019</div>
                </div>
                <div>
                    <div class="infoRow">Gender</div>
                    <div>Male</div>
                </div>
                <div>
                    <div class="infoRow">Status</div>
                    <div>{{this.status}}</div>
                </div>
                <div>
                    <div class="infoRow">Email</div>
                    <div>pwhite@gmail.com</div>
                </div>
            </div>
        </div>
        <h3>Most popular articles</h3>
        <div class="popular">
            <div class="blockArticles">
                <div class="longCard smallCard">
                    <div class="image" [ngStyle]="{'background-image': 'url('+this.image[2]+')'}"></div>
                    <div class="title">{{this.title[2]}}</div>
                    <div class="discripsion">{{this.description[2]}}</div>
                    <div class="info">
                        <div class="author">
                            <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+this.photoAuthor+')'}"></div></div>
                            <div>{{this.author[3]}}</div>
                        </div>
                        <div class="likes">
                            <div class="middleLike">
                                <fa-icon [icon]="faHeart"></fa-icon>
                                <div>{{this.likes[2]}}</div>
                            </div>
                            <div>
                                <fa-icon [icon]="faStar"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="smallCard">
                    <div class="image" [ngStyle]="{'background-image': 'url('+this.image[3]+')'}"></div>
                    <div class="title">{{this.title[3]}}</div>
                    <div class="info">
                        <div class="author">
                            <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+this.photoAuthor+')'}"></div></div>
                         <div>{{this.author[3]}}</div>
                        </div>
                        <div class="likes">
                            <div class="middleLike">
                                <fa-icon [icon]="faHeart"></fa-icon>
                                <div>{{this.likes[3]}}</div>
                            </div>
                            <div>
                                <fa-icon [icon]="faStar"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="smallCard noExist">
                    <div class="image" [ngStyle]="{'background-image': 'url('+this.image[3]+')'}"></div>
                    <div class="title">{{this.title[3]}}</div>
                   <div class="info">
                        <div class="author">
                            <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+this.photoAuthor+')'}"></div></div>
                            <div>{{this.author[3]}}</div>
                        </div>
                        <div class="likes">
                            <div class="middleLike">
                                <fa-icon [icon]="faHeart"></fa-icon>
                                <div>{{this.likes[3]}}</div>
                            </div>
                            <div>
                                <fa-icon [icon]="faStar"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="smallCard noExist">
                    <div class="image" [ngStyle]="{'background-image': 'url('+this.image[0]+')'}"></div>
                    <div class="title">{{this.title[0]}}</div>
                   <div class="info">
                        <div class="author">
                            <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+this.photoAuthor+')'}"></div></div>
                            <div>{{this.author[3]}}</div>
                        </div>
                        <div class="likes">
                            <div class="middleLike">
                                <fa-icon [icon]="faHeart"></fa-icon>
                                <div>{{this.likes[0]}}</div>
                            </div>
                            <div>
                                <fa-icon [icon]="faStar"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="smallCard noExist">
                    <div class="image" [ngStyle]="{'background-image': 'url('+this.image[1]+')'}"></div>
                    <div class="title">{{this.title[1]}}</div>
                   <div class="info">
                        <div class="author">
                            <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+this.photoAuthor+')'}"></div></div>
                            <div>{{this.author[3]}}</div>
                        </div>
                        <div class="likes">
                            <div class="middleLike">
                                <fa-icon [icon]="faHeart"></fa-icon>
                                <div>{{this.likes[1]}}</div>
                            </div>
                            <div>
                                <fa-icon [icon]="faStar"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="userStats">
                <div class="stats">
                    <div>
                        <div class="figure">12</div>
                        <div class="figureDiscr">Articles created</div>
                    </div>
                    <div>
                        <div class="figure">403</div>
                        <div class="figureDiscr">Likes received</div>
                    </div>
                    <div>
                        <div class="figure">34</div>
                        <div class="figureDiscr">Comments written</div>
                    </div>
                </div>
            </div>
    
        </div>
        <h3>Newest</h3>
        <div class="wideCard">
            <div class="image" [ngStyle]="{'background-image': 'url('+this.image[3]+')'}"></div>
            <div class="contentCard">
                <div class="tags noExist">
                    <span>Programming</span>
                    <span>Software Developer</span>
                </div>
                <div class="title">{{this.title[3]}}</div>
                <div class="discripsion">{{this.description[3]}}</div>
                <div class="info">
                    <div class="author">
                        <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+this.photoAuthor+')'}"></div></div>
                    <div>{{this.author[3]}}</div>
                    </div>
                    <div class="likes">
                        <div class="middleLike">
                            <fa-icon [icon]="faHeart"></fa-icon>
                            <div>{{this.likes[3]}}</div>
                        </div>
                        <div>
                            <fa-icon [icon]="faStar"></fa-icon>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <div class="listPopular">
            <div>
                <div class="smallCard">
                    <div class="image" [ngStyle]="{'background-image': 'url('+this.image[0]+')'}"></div>
                    <div class="title">{{this.title[0]}}</div>
                    <div class="info">
                        <div class="author">
                            <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+this.photoAuthor+')'}"></div></div>
                        <div>{{this.author[3]}}</div>
                        </div>
                        <div class="likes">
                            <div class="middleLike">
                                <fa-icon [icon]="faHeart"></fa-icon>
                                <div>{{this.likes[0]}}</div>
                            </div>
                            <div>
                                <fa-icon [icon]="faStar"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="smallCard">
                    <div class="image" [ngStyle]="{'background-image': 'url('+this.image[1]+')'}"></div>
                    <div class="title">{{this.title[1]}}</div>
                    <div class="info">
                        <div class="author">
                            <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+this.photoAuthor+')'}"></div></div>
                        <div>{{this.author[3]}}</div>
                        </div>
                        <div class="likes">
                            <div class="middleLike">
                                <fa-icon [icon]="faHeart"></fa-icon>
                                <div>{{this.likes[1]}}</div>
                            </div>
                            <div>
                                <fa-icon [icon]="faStar"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="smallCard noExist">
                    <div class="image" [ngStyle]="{'background-image': 'url('+this.image[2]+')'}"></div>
                    <div class="title">{{this.title[2]}}</div>
                    <div class="info">
                        <div class="author">
                            <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+this.photoAuthor+')'}"></div></div>
                        <div>{{this.author[3]}}</div>
                        </div>
                        <div class="likes">
                            <div class="middleLike">
                                <fa-icon [icon]="faHeart"></fa-icon>
                                <div>{{this.likes[2]}}</div>
                            </div>
                            <div>
                                <fa-icon [icon]="faStar"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>
