@import 'abstracts/variables';
@import 'abstracts/mixins';
div { 
    background-color: transparent;
}
.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
h3 {
    margin: 56px 0px 40px 104px;
    font-size: 28px;
    font-weight: 500;
}
.container-profile {
    position: relative;
    max-width: 1200px;
    width: 100%;
    > div:nth-of-type(2) {
        @include columnPosition;
        padding-top: 72px;
    }
}
.circle {
    width: 700px;
    height: 700px;
    position: absolute;
    z-index: 0;
    top: -500px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 100%;
    background: linear-gradient(180deg, #153276 0%, #27AAF0 100%);
}
.photo {
    position: relative;
    z-index: 2;
    height: 128px;
    width: 128px;
    border-radius: 100%;
    background-size: cover;
    margin: auto;
}
.name {
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 115%;
    padding: 16px 0 32px;
}
.userInfo {
    display: flex;
    justify-content: center;
    > div {
        padding: 0 21px;
        @include columnPosition;
        align-items: center;
    }
}
.infoRow {
    font-size: $fontText14;
    padding-bottom: 4px;
}    
.popular {
    padding-left: 104px;
    position: relative;
}
.figure {
    font-weight: 500;
    font-size: 64px;
    line-height: 115%;
} 
.figureDiscr {
    padding-top: 8px;
    font-weight: 500;
    font-size: $fontText18;
    line-height: 115%;
}
.userStats {
    position: absolute;
    top: 32px; 
    right: 0;
    width: 591px;
    height: 820px;
    background: linear-gradient(270deg, #153276 -79.19%, #27AAF0 100%);
    @include columnPosition;
} 
.stats {
    margin: 0 auto 0 47.7%;
    > div:nth-child(2) {
        margin: 88px 0;
    }
    div {
        text-align: center;
        color: $white;
    }
}    
.blockArticles {
    position: relative;
    z-index: 3;
    margin-right: -100px;
    width: 640px;
    height: 820px;
    @include columnPosition(space-between); 
    align-content: space-between;
    flex-wrap: wrap;
}    
.smallCard {
    @include shadowsCard($grey);
    position: relative;
    background-color: $bgcolor;
    width: 310px;
    height: 260px;
    .discripsion {
        display: none;
    }
}
.info {
    @include positionBottom;
    padding: 20px;
    >div >div {
        font-size: $fontText14;
        padding: 2px 8px;
    }
    .author > div:first-child {
        height: 40px;
        width: 40px;
        padding: 0;
    }
}
.likes fa-icon {
    @include hoverFont($blue); 
}
.middleLike div {
    padding-left: 8px;
    font-size: $fontText12;
}
.image {
    @include bgCenter;
    width: 100%;
    height: 105px;
}  
.longCard {
    height: 540px;
    .image {
        height: 260px;
    }
    .discripsion {
        display: block;
        padding: 10px 20px 0;
    }
}
.title {
    font-weight: $bold;
    font-size: $fontText20;
    padding: 15px 20px 0;
}
.wideCard {
    @include shadowsCard($grey);
    width: 82.666666%;
    height: 390px;
    display: flex;
    margin:0 0 56px 104px;
    div {
        font-size: $fontText14;
    }
    .image {
        flex-shrink: 2;
        height: 390px;
        width: 63.7%;
    }
    .contentCard {
        flex-shrink: 1;
        width: 36.3%;
        position: relative;
        padding: 32px 40px;
    }
    .tags {
        @include tagSpan;
        span {
            padding: 3px 12px;
            margin-right: 8px;
        }
    }
    .title {
        font-weight: $bold;
        font-size: 26px;
        padding: 12px 0 16px;
        line-height: 30px;
    }
    .discripsion {
        font-size: $fontText18;
        line-height: 28px;
    }
    .info {
        @include positionBottom;
        padding: 0 40px 32px;
        >div >div {
            padding: 2px 8px;
        }
        .likes fa-icon {
            @include hoverFont($blue); 
        }
        .middleLike div {
            padding-left: 8px;
            font-size: $fontText12;
        }
        .author > div:first-child  {
            height: 40px;
            width: 40px;
            padding: 0;
        }
    }
}
.listPopular {
    margin-bottom: 226px;
    padding: 20px 0;
    width: 976px;
    background: linear-gradient(90deg, #153276 -85.4%, #27AAF0 100%);
    > div {
        display: flex;
        width: 992px;
        transform: translate(104px);
    }
    .smallCard {
        margin-right: 31px;
        &:last-child {
            margin-right: 0;  
        }
    }
}
@media(max-width: 1200px){
    .container-profile {
        max-width: 800px;
    }
    .noExist, .listPopular >div .noExist {
        display: none;
    }
    .wideCard .discripsion {
        display: none;
    }
}
@media(max-width: 800px){
    .container-profile {
        max-width: 100%;
        
        > div:nth-of-type(2) {
            padding-top: 53px;
        }
    }
    h3 {
        font-size: 25px;
        margin: 46px 0 30px 64px;
        &:last-of-type{
            padding-top: 20px;
        }
    }
    .circle {
        height: 400px;
        width: 400px;
        top: -250px
    }
    .photo {
        width: 98px;
        height: 98px;
    }
    .name {
        font-size: 25px;
        padding: 11px 0 25px;
    }
    .userInfo > div {
        padding: 0 15px;
    }
    .infoRow {
        font-size: 12px;
    }
    .figure {
        font-size: 44px;
    }
    .figureDiscr {
        font-size: 16px;
    }
    .userStats {
        max-width: 441px;
        width: 60%;
    }
    .popular {
        padding-left: 64px;
    }
    .info >div >div {
        font-size: 15px;
    }
    .listPopular {
        width: 100%;
        > div {
            width: 100%;
            align-items: center;
            justify-content: center;
            transform: translate(0px)
        }
        .smallCard {
            margin: 10px;
        }
    }
    .wideCard {
        margin:0 0 46px 64px;
        height: 260px;
        div {
            font-size: 12px;
        }
        .image {
            height: 260px;
        }
        .contentCard {
            padding: 10px 15px;
        }
        .discripsion {
            display: none;
        }
        .title {
            font-size: 20px;
            padding: 10px 0 14px;
        }
        .info {
            padding: 0 15px 10px;
            >div >div {
                padding: 2px 4px;
            }
        }
    }
}
@media(max-width: 600px) {
    .container-profile > div:nth-of-type(2) {
        padding-top: 33px;
    }
    h3 {
        margin: 26px 0 20px 64px;
    }
    div {
        font-size: 13px;
    }
    .circle {
        height: 300px;
        width: 300px;
        top: -200px
    }
    .photo {
        width: 68px;
        height: 68px;
    }
    .name {
        padding: 11px 0 20px;
    }
    .discripsion {
        font-size: 18px;
    }
    .infoRow {
        font-size: 10px;
    }
    .userInfo {
        flex-wrap: wrap;
        > div {
           width: 40%;
           margin-bottom: 20px;
        }
    }
    .wideCard {
        width: 95%;
        margin: 0 auto 64px;
        padding: 0;
        .image {
            width: 310px;
            flex-shrink: 1;
        }
        .contentCard {
            width: 100%;
            padding: 0;
        }
        .title, .info {
            padding: 10px 15px;
        }
        .author div:nth-of-type(2) {
            display: none;
        }
    }
    .popular .userStats .stats {
        display: none;
    }
    .popular {
        padding-left: 10px;
    }
    .listPopular {
        width: 60%;
        > div {
            width: 100vw;
            flex-direction: column;
            align-items: flex-end;
        }
        .smallCard {
            margin-right: 30px;
        }
    }
}