<div class="container">
    <div class="container-profile">
        <div class="circle"></div>
        <div>
            <div>
                <div class="photo" [ngStyle]="{'background-image': 'url('+photoAuthor+')'}"></div>
                <div class="name">{{authorUser}}</div>
            </div>
            <div class="userInfo">
                <div>
                    <div class="infoRow">Joined</div>
                    <div>12 November 2019</div>
                </div>
                <div>
                    <div class="infoRow">Gender</div>
                    <div>{{gender}}</div>
                </div>
                <div>
                    <div class="infoRow">Status</div>
                    <div>{{status}}</div>
                </div>
                <div>
                    <div class="infoRow">Email</div>
                    <div>{{email}}</div>
                </div>
                <div>
                    <div class="infoRow">Email</div>
                    <div>{{email}}</div>
                </div>
            </div>
        </div>
        <h3>Most popular articles</h3>
        <div class="popular">
            <div class="blockArticles">
                <div class="smallCard" *ngFor="let article of listArticles.slice(0, 5), let idx = index" [ngClass] = "{ longCard: !idx, noExist: idx>1 }">
                    <div class="image" [ngStyle]="{'background-image': 'url('+article.image+')'}"></div>
                    <div class="title">{{article.title}}</div>
                    <div class="discripsion">{{article.description}}</div>
                    <div class="info">
                        <div class="author">
                            <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+photoAuthor+')'}"></div></div>
                            <div>{{authorUser}}</div>
                        </div>
                        <div class="likes">
                            <div class="middleLike">
                                <fa-icon [icon]="faHeart"></fa-icon>
                                <div>{{article.reactionsCounts.likes}}</div>
                            </div>
                            <div>
                                <fa-icon [icon]="faStar"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="userStats">
                <div class="stats">
                    <div>
                        <div class="figure">12</div>
                        <div class="figureDiscr">Articles created</div>
                    </div>
                    <div>
                        <div class="figure">403</div>
                        <div class="figureDiscr">Likes received</div>
                    </div>
                    <div>
                        <div class="figure">34</div>
                        <div class="figureDiscr">Comments written</div>
                    </div>
                </div>
            </div>
        </div>
        <h3>Newest</h3>
        <div class="wideCard" *ngFor="let article of listArticles.slice(0, 1)">
            <div class="image" [ngStyle]="{'background-image': 'url('+article.image+')'}"></div>
            <div class="contentCard">
                <div class="tags noExist">
                    <span>Programming</span>
                    <span>Software Developer</span>
                    <span>Front Developer</span>
                    <span>Front Developer</span>
                    <span>Front Developer</span>
                    <span> git push --set-upstream origin LUT-289-2</span>
                    <span> git push --set-upstream origin LUT-289-2</span>
                    <span> git push --set-upstream origin LUT-289-2</span>
                    <span> git push --set-upstream origin LUT-289-2</span>
                </div>
                <div class="title">{{article.title}}</div>
                <div class="title">{{article.title}}</div>
                <div class="discripsion">{{article.description}}</div>


                <div class="info">

                    <div class="author">
                        <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+photoAuthor+')'}"></div>
                    <div>{{authorUser}}</div>
                    </div>
                    <div class="likes">
                        <div class="middleLike">
                            <fa-icon [icon]="faHeart"></fa-icon>
                            <div>{{article.reactionsCounts.likes}}</div>
                        </div>
                        <div>
                            <fa-icon [icon]="faStar"></fa-icon>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <div class="listPopular">
            <div>
                <div class="smallCard" *ngFor="let article of listArticles.slice(1, 4), let idx = index" [ngClass] = "{ noExist: idx>1 }">
                    <div class="image" [ngStyle]="{'background-image': 'url('+article.image+')'}"></div>
                    <div class="title">{{article.title}}</div>
                    <div class="info">
                        <div class="author">
                            <div> <div class="photoAuthor" [ngStyle]="{'background-image': 'url('+photoAuthor+')'}"></div></div>
                        <div>{{authorUser}}</div>
                        </div>
                        <div class="likes">
                            <div class="middleLike">
                                <fa-icon [icon]="faHeart"></fa-icon>
                                <div>{{article.reactionsCounts.likes}}</div>
                            </div>
                            <div>
                                <fa-icon [icon]="faStar"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
