@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
h3 {
    margin: 56px 0px 40px 104px;
    font-size: 28px;
    font-weight: 500;
}
.container-profile {
    position: relative;
    max-width: 1200px;
    width: 100%;
    div {
        z-index: 2;
        background-color: transparent;
    }
    > div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 72px;
    }
    .circle {
        width: 700px;
        height: 700px;
        position: absolute;
        z-index: 1;
        top: -500px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 100%;
        background: linear-gradient(180deg, #153276 0%, #27AAF0 100%);
    }
    .photo {
        height: 128px;
        width: 128px;
        border-radius: 100%;
        background-image: url(https://i.pinimg.com/originals/28/8a/0a/288a0a8bafb429a3a16a037869d85dc9.jpg);
        background-size: cover;
        margin: auto;
    }
    .name {
        font-weight: 500;
        font-size: 28px;
        line-height: 115%;
        padding: 16px 0 32px;
    }
    .userInfo {
        display: flex;
        justify-content: center;
        > div {
            padding: 0 21px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .infoRow {
            font-size: $fontText14;
            padding-bottom: 4px;
        }
    }
   
    .popular {
        div {
            font-size: $fontText14;
        }
        padding-left: 104px;
        position: relative;
        .blockArticles {
            position: relative;
            z-index: 3;
            margin-right: -100px;
            width: 640px;
            height: 820px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
        }
        .userStats {
            position: absolute;
            top: 32px; 
            right: 0;
            width: 591px;
            height: 820px;
            background: linear-gradient(270deg, #153276 -79.19%, #27AAF0 100%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            .stats {
                margin: 0 auto 0 47.7%;
                > div:nth-child(2) {
                    margin: 88px 0;
                }
                div {
                    text-align: center;
                    color: $white;
                }
            }
            .figure {
                font-weight: 500;
                font-size: 64px;
                line-height: 115%;
            }
            .figureDiscr {
                padding-top: 8px;
                font-weight: 500;
                font-size: $fontText18;
                line-height: 115%;
            }
        }
    }
    .smallCard {
        @include shadowsCard($grey);
        position: relative;
        background-color: $bgcolor;
        width: 310px;
        height: 260px;
        .image {
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 105px;
        }
        .title {
            font-weight: $bold;
            font-size: $fontText20;
            padding: 15px 20px 0;
        }
        .discripsion {
            padding: 10px 20px 0;
        }
        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            @include infoAuthorLike;
            padding: 20px;
            >div {
                >div {
                    padding: 2px 8px;
                }
            }
            .likes {
                fa-icon {
                    @include hoverFont($blue); 
                }
            }
            .middleLike {
                div {
                    padding-left: 8px;
                    font-size: $fontText12;
                }
            }
            .author > div:first-child {
                height: 40px;
                width: 40px;
            }
        }
    }
    .longCard {
        height: 540px;
        .image {
            height: 260px;
        }
    }
    .wideCard {
        span, div {
            font-size: $fontText14;
        }
        @include shadowsCard($grey);
        width: 82.666666%;
        height: 390px;
        display: flex;
        margin:0 0 56px 104px;
        .image {
            flex-shrink: 2;
            background-size: cover;
            background-position: center;
            height: 390px;
            width: 63.7%;
        }
        .contentCard {
            flex-shrink: 1;
            width: 36.3%;
            position: relative;
            padding: 32px 40px;
        }
        .tags {
            @include tagSpan;
            span {
                padding: 3px 12px;
                margin-right: 8px;
            }
        }
        .title {
            font-weight: $bold;
            font-size: 26px;
            padding: 12px 0 16px;
            line-height: 30px;
        }
        .discripsion {
            font-size: $fontText18;
            line-height: 28px;
            
        }
        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            @include infoAuthorLike;
            padding: 0 40px 32px;
            >div >div {
                padding: 2px 8px;
            }
            .likes fa-icon {
                @include hoverFont($blue); 
            }
            .middleLike div {
                padding-left: 8px;
                font-size: $fontText12;
            }
            .author > div:first-child  {
                height: 40px;
                width: 40px;
            }
        }
    }
    .listPopular {
        div {
            font-size: $fontText14;
        }
        margin-bottom: 226px;
        padding: 20px 0;
        width: 976px;
        background: linear-gradient(90deg, #153276 -85.4%, #27AAF0 100%);
        > div {
            
            width: 992px;
            transform: translate(64px);
        }
        .smallCard {
            display: inline-block;
            
            margin-right: 31px;
            &:last-child {
                margin-right: 0;  
            }
        }
    }
}
@media(max-width: 1200px){
    .container-profile {
        max-width: 800px;
        .listPopular  {
            .noExist {
                display: none;
            }
        }
    }
    
    .noExist {
        display: none;
    }
}
@media(max-width: 800px){
   
    h3 {
        font-size: 25px;
        margin: 46px 0 30px 64px;
        &:last-of-type{
            padding-top: 20px;
        }
    }
    .container-profile {
        max-width: 600px;
        .circle {
            height: 400px;
            width: 400px;
            top: -250px
        }
        > div:nth-of-type(2) {
            padding-top: 53px;
        }
        .photo {
            width: 98px;
            height: 98px;
        }
        .name {
            font-size: 25px;
            padding: 11px 0 25px;
        }
        .userInfo {
            > div {
                padding: 0 15px;
            }
            .infoRow {
                font-size: 12px;
            }
        }
        .popular {
            div {
                font-size: 15px;
            }
            padding-left: 64px;
            .userStats {
                width: 391px;
               
                .figure {
                    font-size: 44px;
                }
                .figureDiscr {
                    font-size: 16px;
                }
            }
        }
        .wideCard {
            margin:0 0 46px 64px;
            height: 260px;
            div {
                font-size: 12px;
            }

            .image {
                height: 260px;
            }
            .contentCard {
                padding: 10px 15px;
            }
            .discripsion {
                
                line-height: 24px;
            }
            .title {
                font-size: 20px;
                padding: 10px 0 14px;
            }
            .info {
                padding: 0 15px 10px;
                .author > div:first-child {
                    height: 30px;
                    width: 30px;
                    
                }
                >div >div {
                    padding: 2px 4px;
                }
            }
        }
        .listPopular {
            width: 500px;
            .smallCard {
                display: block;
                margin-bottom: 20px;
            }
        }

    }
}
@media(max-width: 600px) {
    h3 {
        
        margin: 26px 0 20px 64px;
    }
    div {
        font-size: 13px;
    }
    .container-profile {
        .circle {
            height: 300px;
            width: 300px;
            top: -200px
        }
        > div:nth-of-type(2) {
            padding-top: 33px;
        }
        .photo {
            width: 68px;
            height: 68px;
        }
        .name {
            
            padding: 11px 0 20px;
        }
        .userInfo {
            flex-wrap: wrap;
            > div {
               width: 40%;
               margin-bottom: 20px;
            }
            .infoRow {
                font-size: 10px;
            }
            
        }
        .wideCard {
            flex-direction: column;
            height: 420px;
            width: 310px;
            margin: 0 0 56px 0;
            padding: 0;
            .image {
                width: 310px;
                height: 210px;
                flex-shrink: 1;
            }
            .contentCard {
                width: 100%;
                height: 210px;
                padding: 0;
                
            }
            .title, .discripsion, .info {
                padding: 10px 15px;
            }
        }
        .popular {
            // padding-left: 44px;
        }
    }
}